body{
  font-family: Arial;
}

#workspace{
  background-color: #777;
  width:100%;
  height:100%;
  left:0;
  top:60px;
  position:fixed;
}
#toolbar{
  background-color: #fff;
  width:100%;
  height:60px;
  left:0;
  top:0;
  position:fixed;
}

#toolbar div{
  display:inline
}

#toolbar i{ 
  margin-top:10px;
  margin-left:10px;
}

#toolbar input[type=text], select {
  border-bottom:#777 2px solid;
  border-top:none;
  border-left:none;
  border-right:none;
  height: 20px;
  margin-left:5px;
}

#toolbar i:hover{
 cursor:pointer; 
}

#toolbar label{
  color:#777;
  font-size:13px;
}


#workspace h2{
  color:#999;
  margin-left:10px;
}

.k_columns{
  width:19%;
  height:100%;
  background-color:#e8e8e8;
  margin-top:5px;
  margin-left:5px;
  display:inline;
  float:left;
}

.card{
  border:none;
  box-shadow:2px 2px 3px #777;
  margin-left:10px;
  margin-top:10px;
  height:100px;
  width:200px;
}

.card:hover{
   box-shadow:6px 6px 20px #666;
}

.card div{
  font-family: Helvetica;
}

.card a{
  text-decoration:none;
  color: #000;
}

.card a:visited{
  text-decoration:none;
  color: #000;
}

.card a:actived{
  text-decoration:none;
  color: #000;
}

.normal-color{
  background-color:#BBE553;
}

.mid-color{
  background-color:#EEEE22;
}

.high-color{
  background-color:rgb(245, 101, 69);;
}

